async function handler(req, res) {
  const birthday = req.body.birthday
  const password = req.body.password
  if (birthday && password) {
      prisma.user.findFirst({
          where: {
              birthday: birthday,
              password: password
          }
      }).then(user => {
          if (user) {
              req.session.loggedin = true;
              req.session.birthday = birthday;
              res.redirect('/loggedin');
          } else {
              res.send('Incorrect birthday and/or Password!');
          }			
          res.end();
      });
  } else {
      res.send('Please enter birthday and Password!');
      res.end();
  }